body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bcbcbc;

    font-family: monospace;
    font-size: 1rem;
}

table {

    border-collapse: collapse;
}

h2 {
    text-align: center;
}

td,
tr,
th {
    border: 2px solid black;
    padding: 8px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.addBook {
    background-color: #1c1c1c;
    color: #bcbcbc;
    font-family: monospace;
    width: 150px;
    height: 50px;
    border-radius: 15px;

}

.addBook:hover {
    background-color: #403939;
}

.closeButton {
    border-radius: 25px;
    font-size: 1.2rem;
    margin-left: 175px;
}

.closeButton:hover {
    background-color: white;
}

.choices {
    display: flex;
    align-items: center;
    gap: 4px;
}